
body{
  background-color: #E6FFE3;
  font-family: 'Agency FB Bold', arial;

    margin-left: 0px;
    margin-right: 0px;

    border-left-width: 0px;

}


#mainbar_name {
  color: black;
}

#SignInButton {

}

#mainbar_name {

}
#mainbar_hr{
 color: black;
 border-style: dotted none none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

#undertop{

  background-color:#000000;
  height:5px; width:100%;
}
